<% layout('layout/layout') %>

<div class="container user-form py-5" style="background: linear-gradient(to right, lightgrey, palegoldenrod)";>
    <br>
    <span class="site-logo my-3">Support our efforts</span>
    <div>
        <form id="donate" style="background-image: url('/images/donate5.png')" class="img-fluid">
            <div class="form-group">
                <p style="color: black; font-size: 20px; color: yellow; "><bold>Steel Smiling bridges the gap between community members and mental health support through education, advocacy, and awareness. Our vision is to connect every resident in the region to resources and treatment. To strengthen our impact together, make your financial donation today! </bold> </p>
            </div>
            <a href="https://www.steelsmilingpgh.org/donate" class = "btn btn-light" button type="button" name="Donate" style="color: blackcontainer user-form py-5">Donate</abutton> </a>
        </form>
    </div>
</div>

<!--
<% include partials/panels/panel %>-->