<% layout('layout/layout') %>

<div class="container user-form py-5" style="background: linear-gradient(to right, lightgrey, palegoldenrod)";>
    <br>
    <span class="site-logo my-3">Refer a Friend</span>

<div class="col-12 col-lg-8 offset-lg-2">
    <form id="referral" class="mt-5">
        <div class="form-group">
            <input type="email" name="email" value="" class="form-control" placeholder="example@abc.com">
        </div>
        <button type="submit" name="submit">Refer</button>
    </form>
</div>

<% include partials/panels/panel %>